<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SingleCraft - Unknown Server Settings</title>
</head>
<body>
    <div class="header" style="display: flex;">
        <p id="PagesTree"><a href="/home">Home</a> > <a id="ServerName">Loading...</a> > <a>Settings</a> </p>
        <button id="SettingsButton" style="display: block; margin-left: auto" disabled>Settings</button>
    </div>

    <div class="settings"></div>

<script>
    function getServerId() {
        return window.location.href.split("/")[4];
    }

    document.addEventListener('DOMContentLoaded', () => {
        fetch('/API/Servers/getName?server_id=' + getServerId())
        .then(res => res.json())
        .then(data => {
            if (data.name !== undefined) {
                document.title = "SingleCraft - Settings - "+data.name;
                document.getElementById("ServerName").textContent = data.name;
            } else {
                console.error("Cannot find server name, try to refresh the page.");
                document.title = "SingleCraft - Settings - Unknown Server";
                document.getElementById("ServerName").textContent = "Unknown Server";
            }
        })

        fetch('/API/Server/getServerSettings')
            .then(res => res.json())
            .then(data => {
                let settingsDiv = document.getElementsByClassName("settings")[0];
                for (let setting of data.settings) {
                    let settingDiv = document.createElement("div");
                    let label = document.createElement("label");
                    let input = document.createElement("input");

                    label.textContent = setting[1];
                    //input.type = setting.type === "boolean" ? "checkbox" : "text";
                    input.value = setting[2];
                    //if (setting.type === "boolean") {
                    //    input.checked = setting.value;
                    //}

                    input.addEventListener("keydown", (evt) => {
                        if (evt.key === "Enter") {
                            evt.preventDefault()
                            let value = input.type === "checkbox" ? input.checked : input.value;
                            fetch("/API/Settings/UpdateSetting?setting_id="+setting[0]+"&setting_value="+evt.target.value, {method: "POST", body: JSON.stringify({value: value}), headers: {"Content-Type": "application/json"}})
                                .then(res => res.json())
                                .then(data => {
                                    console.log(data);
                                })
                        }
                    })

                    settingDiv.appendChild(label);
                    settingDiv.appendChild(input);
                    settingsDiv.appendChild(settingDiv);
                }
            })

        fetch('/API/Servers/CanAccessGlobalSettings')
            .then(res => res.json())
            .then(data => {
                if (data.can_access === true) {
                    document.getElementById("SettingsButton").style.display = "block";
                    document.getElementById("SettingsButton").onclick = function () {
                        window.location.href = "/settings";
                    }
                }
            })
    })
</script>
</body>
</html>